fastapi[all]==0.104.0
jose==1.0.0
passlib==1.7.4
pydantic==2.4.2
pydantic_settings==2.0.3
python-dotenv==1.0.0
python_jose==3.3.0
SQLAlchemy==2.0.22
starlette==0.31.1
passlib[bcrypt]==1.7.4
psycopg2-binary
